.applicant {
  width: 100%;
  display: flex;
  flex-direction: column;

  &__head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.8rem 0;
    border-bottom: 1px solid #e5e5e5;

    &--app {
      color: rgba(0, 0, 0, 0.85);
      font-weight: 600;
      font-size: 3.2rem;
      line-height: 1.35;
      margin-left: 2.4rem;

      @include respond(phone) {
        font-size: 2.6rem;
        margin-left: 1rem;
      }
    }

    &--btn {
      background: #009ae0;
      color: #ffffff;
      font-size: 1.6rem;
      padding: 0 1.5rem;
      border-radius: 4px;
      margin-right: 2.4rem;

      &__para {
        margin-left: 0.5rem;
      }

      @include respond(phone) {
        padding: 0 1rem;
        margin-right: 1rem;
      }
    }

    &--btn:hover {
      cursor: pointer;
      box-shadow: 0em 0.3em 0.6em #e8e8e8, 0em 0.3em 0.6em #e8e8e8;
      transition: box-shadow 0.8s ease-in-out;
    }

    @include respond(phone) {
      padding: 1rem 0 1.2rem;
    }
  }

  &__body {
    width: 100%;
    min-height: 60vh;
    padding: 2.8rem 0rem 0rem;
    display: flex;
    flex-direction: row;

    @include respond(phone) {
      flex-direction: column;
      padding: 0rem;
    }

    &--col1 {
      width: 15%;
      border-right: 1px solid #e5e5e5;
      display: flex;
      flex-direction: column;

      &__list {
        padding: 1.5rem;
        font-size: 1.5rem;
        @include respond(phone) {
          padding: 0;
          text-align: center;
          padding: 1rem 1.5rem;
          text-decoration: none;
        }
      }
      &__list:hover {
        cursor: pointer;
      }

      @include respond(phone) {
        flex-direction: row;
        width: 100%;
        border-bottom: 1px solid #e5e5e5;
        overflow-x: hidden;
        overflow-x: scroll;
        overflow-x: -moz-scrollbars-none;
        scrollbar-width: none;
        white-space: nowrap;
      }
    }

    &--col1::-webkit-scrollbar {
      display: none;
    }

    &--col2 {
      width: 85%;
      padding: 0rem 2rem 2rem;
      font-size: 1.4rem;

      &__applicant {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 2rem;
        border: 1px solid #e5e5e5;
        margin-bottom: 2rem;

        &--name {
          width: 15%;
          @include respond(phone) {
            width: 100%;
            margin-bottom: 0.7rem;
            display: flex;
            flex-direction: row;
          }
        }

        &--status {
          width: 15%;
          @include respond(phone) {
            width: 100%;
            margin-bottom: 0.7rem;
            display: flex;
            flex-direction: row;
          }
        }

        &--number {
          width: 15%;
          @include respond(phone) {
            width: 100%;
            margin-bottom: 0.7rem;
            display: flex;
            flex-direction: row;
          }
        }
        &--description {
          width: 55%;
          @include respond(phone) {
            width: 100%;
            margin-bottom: 0.7rem;
            display: flex;
            flex-direction: row;
          }
        }
        @include respond(phone) {
          flex-direction: column;
          align-items: flex-start;
        }
      }

      &__applicant:hover {
        cursor: pointer;
        // box-shadow: 2rem 1rem 1rem #e5e5e5;
        box-shadow: 0em 0.3em 0.6em #e5e5e5, 0em 0.3em 0.6em #e5e5e5;
        transition: box-shadow 0.5s ease-in-out;
      }

      @include respond(phone) {
        width: 90%;
        margin-top: 2rem;
        align-self: center;
        padding: 0;
      }
    }
  }

  &__modal {
    display: flex;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    overflow-x: hidden;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.6);

    &--container {
      background-color: #ffffff;
      margin: auto;
      border: 1px solid #888;
      width: 40%;
      border-radius: 1%;

      &__header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 1.6rem 2rem;
        font-size: 1.8rem;
        color: rgba(0, 0, 0, 0.87);
        border-bottom: 1px solid #eee;

        &--close:hover {
          cursor: pointer;
        }
      }

      &__body {
        padding: 2rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: justify;
        border-bottom: 1px solid #eee;

        &--col {
          width: 90%;
          display: flex;
          flex-direction: row;
          padding: 2rem;
          font-size: 1.5rem;

          &__key {
            width: 30%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            text-align: initial;
          }
          &__value {
            width: 70%;
            padding-left: 2rem;

            &--select {
              width: 100%;
              padding: 0.5rem;
              border: 1px solid #e5e5e5;
              border-radius: 4px;
              background: #ffffff;
            }

            &--textarea {
              width: 100%;
              padding: 1rem;
              border: 1px solid #e5e5e5;
              border-radius: 4px;
              background: #ffffff;
            }

            &--select:focus,
            &--textarea:focus {
              outline: none;
            }
          }

          @include respond(phone) {
          }
        }
      }

      &__foot {
        width: 100%;
        padding: 1.6rem 0;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        &--btn {
          background: #009ae0;
          color: #ffffff;
          padding: 1rem 2rem;
          border-radius: 4px;
          margin-right: 2rem;
        }
      }

      @include respond(phone) {
        width: 100%;
      }
    }
  }
}

.labelMobile {
  display: none;

  @include respond(phone) {
    width: 30%;
    display: flex;
    font-weight: 600;
  }
}

.labelName,
.labelContact,
.labelFeedback {
  @include respond(phone) {
    width: 70%;
  }
}

.labelStatus {
  @include respond(phone) {
    // width: 70%;
    padding: 0 0.5rem !important;
  }
}

.cvDownload {
  background: #009ae0;
  color: #ffffff;
  padding: 0.5rem 1rem 0.6rem;
  border-radius: 4px;
}

.cvDownload:hover {
  cursor: pointer;
}
